.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.objects{
    display: flex;
    align-items: center;
}

.objects p{
    padding: 0px 20px;
    font-size: 18px;
    font-weight:500;
}

.objects .fa{
    font-size: 20px;
    padding: 10px;
    color: #a09f9f;
    cursor: pointer;
}

.buttons{
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.button{
    margin: 0px 10px;
}

.show-toll, .vehicle-entry{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, .4);
}